.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 1rem;
  font-family: inherit;
}

@media screen and (max-width: 700px) {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    border-radius: 1rem;
    font-family: inherit;
  }
}

.loginTitle {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.loginForm {
  margin-top: 20px;
}

.loginForm > label {
  margin: 10px 0;
  font-weight: bold;
}

.loginInput {
  padding: 10px;
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400px;
}

.btn {
  margin-top: 12px;
}
