body {
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: auto;
  line-height: 1.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col ul li {
  list-style: none;
  outline: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbb;
  display: block;
  transition: all 0.3s ease;
}

.link:hover {
  color: #1888ff;
  padding-left: 7px;
}

.footer {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  padding: 30px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.social_link i {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 6px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.3 ease;
}

.social_link i:hover {
  background-color: #1888ff;
}

@media (max-width: 600px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
  .social_link i {
    display: inline-block;
    /* height: 40px;
    width: 40px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3 ease; */
  }
}
